.header-component {
  background: linear-gradient(180deg, #b6edf9 0%, rgba(182, 237, 249, 0) 100%);
  height: 22rem;
}
#logo {
  height: 8rem;
  width: 14rem;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* height: 100vh; */
}
/* .info>img{
    height: 30rem;
    width: auto;
} */
.info-inner > p {
  font-size: 28px;
  font-weight: bold;  
  text-align: center;
}
#dc {
  margin-left: 12vw;
}
#navbar{
  box-shadow: none;
  background: none;
}

li {
  padding: 1.56rem;
}