* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* .carosel1 {
  width: 60vw;
  height: 70vh;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .car-container {
  width: 52vw;
  margin: auto;
}
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.testimonials {
  margin: 0;
} */
.cph {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

/* Homepage cards */
.contact-overview {
  background-color: #6391e8;
  color: #fff;
  max-height: 100%;
  overflow: auto;
  padding: 1rem;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.contact-card:hover .contact-overview {
  transform: translateY(0%);
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

/* break */

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2b283a;
}
@media (max-width: 998px) {
  .contact-card {
    flex-basis: 38%;
    /* display: block; */
  }
  #spna {
    display: none;
  }
}
.card-txt {
  margin: auto;
  text-align: center;
}
.container-card {
  display: block;
}
/**********************************************/

.whole-bg {
  background-color: linear-gradient(#b6edf9, white);
}

#footer {
  /* background-color: #ebdddd; */
  background-color: #1f4690;
  color: white;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
#foothead {
  margin: auto;
  height: 3vh;
}
#footer-container {
  /* position: absolute; */
  bottom: 0px;
}
/****************************************/
.head-cont {
  display: block;
}

#card {
  margin-top: 22rem;
  padding-bottom: 5rem;
}
.info container {
  height: fit-content;
}

/**********************************************/
.container {
  display: flex;
  margin: 0;
  width: 100vw;
  padding-left: 0;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #b6edf9;
  color: black;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;

  padding-top: 40px;
  padding-bottom: 40px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: rgb(120, 113, 113);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  padding-top: 25px;
  padding-bottom: 25px;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
/* .active {
  background: lightskyblue;
  color: #000;
} */
.icon,
.link_text {
  font-size: 20px;
  text-decoration: none;
}

/****************************************************/
carousel-item.active {
  background: none;
}
.dbcont {
  font-family: "Laila", sans-serif;
}
.report-container {
  display: flex;
  border-radius: 14px;
  justify-content: center;
  flex-wrap: wrap;
  width: 85vw;
}

.name-container > p {
  /* color: #fff; */
  color: #000;
  /* background-color: #7378FD  */
}
/* Navbar */
#sin {
  background: rgb(38, 97, 245);
}
#sup {
  background: rgb(38, 97, 245);
}
#sepnav {
  color: grey;
}
.FootUL {
  /* padding-top: 0; */
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.FootLI {
  color: white;
  text-decoration: none;
}
.FootLI:hover {
  color: rgb(255, 234, 0);
}
#respimg {
  display: none;
}
@media (max-width: 798px) {
  .FootUL {
    /* flex-direction: column; */
    flex-basis: 10%;
  }
  .FootUL li {
    padding: 5px;
  }
  #dc {
    display: none;
  }
  #respimg {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
  }
  #reim {
    width: 100vw;
  }
}
#dbcont {
  background: rgba(98, 131, 239, 0.2);
  box-shadow: 0 6px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#bpdisp {
  background: rgba(243, 244, 248, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#sugdisp {
  background: rgba(243, 244, 248, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
